<% content_for :title, t("wall.title") %>

<main class="proximity">
  <% if !age_confirmed? %>
    <%= render "walls/age_gate" %>
  <% elsif location_known? %>
    <header class="proximity__header">
      <h1 class="proximity__title"><%= t("wall.title") %></h1>
      <p class="proximity__tagline"><%= t("wall.tagline") %></p>
    </header>

    <%= render "posts/card_stack", cards: @cards %>

    <%= turbo_frame_tag "composer" do %>
      <%= render "posts/composer_sheet", post: Post.new, identity: session_identity, status_message: nil %>
    <% end %>
  <% else %>
    <%= render "walls/location_gate" %>
  <% end %>

  <%= render "shared/legal_footer" %>
</main>
