<article
  id="<%= dom_id(post) %>"
  class="note note--<%= post.color_variant %> note--<%= post.size_variant %> mb-4 rounded-lg p-4 [break-inside:avoid]"
  style="
    --note-rotate: <%= post.note_rotation %>deg;
    --note-offset-x: <%= post.note_offset_x %>px;
    --note-offset-y: <%= post.note_offset_y %>px;
    --note-opacity: <%= post.note_opacity %>;
  "
>
  <div class="chalk-meta flex items-center justify-between gap-2">
    <span><%= post.icon %> <%= post.pseudonym %></span>
    <time datetime="<%= post.posted_at.iso8601 %>"><%= time_ago_in_words(post.posted_at) %> ago</time>
  </div>
  <p class="mt-3 whitespace-pre-wrap break-words"><%= post.body %></p>
</article>
